{% extends "base_dashboard.html" %}


{% block content %}
<div class="container">
    <div class="page-card">
        <div class="page-header">
            <h2>{{ title }}</h2>
        </div>

        <p>Are you sure you want to delete employee <strong>“{{ object.name }}”</strong>?</p>

        <form method="post" class="form-actions">
            {% csrf_token %}
            <button type="submit" class="action-button red">Yes, Delete</button>
            <a href="{% url 'employee_list' %}" class="action-button blue">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
