{% extends "base_dashboard.html" %}


{% block content %}
<div class="container">
    <div class="page-card">
        <div class="page-header">
            <h2>Employees</h2>
            <a href="{% url 'add_employee' %}" class="action-button green">Add Employee +</a>
        </div>
        {% if employees %}
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Hire Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for emp in employees %}
                <tr>
                    <td>{{ emp.name }}</td>
                    <td>{{ emp.role }}</td>
                    <td>{{ emp.hire_date|date:"Y-m-d H:i" }}</td>
                    <td>
                        <a href="{% url 'employee_detail' emp.id %}" class="small-btn blue">View</a>
                        <a href="{% url 'edit_employee' emp.pk %}" class="small-btn yellow">Edit</a>
                        <a href="{% url 'delete_employee' emp.pk %}" class="small-btn red">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No employees found.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
