{% extends "base_dashboard.html" %}


{% block content %}
<div class="container">
    <div class="page-card">
        <div class="page-header">
            <h2>Employee Details</h2>           
        </div>
        <div class="detail-info">
            <p><strong>Name:</strong> {{ employee.name }}</p>
            <p><strong>Role:</strong> {{ employee.role }}</p>
            <p><strong>Phone Number:</strong> {{ employee.phone_number }}</p>
            <p><strong>Email:</strong> {{ employee.email }}</p>
            <p><strong>Hire Date:</strong> {{ employee.hire_date }}</p>
        </div>
        <a href="{% url 'employee_list' %}" class="button">Back</a>
    </div>
</div>
{% endblock %}
